/***************FILE IMPORTS********************/
/***********************************************/


@import url('bootstrap.css');
@import url('fonts.css');




/****************FILE IMPORTS********************/

.fs12 {
font-size: 12px
}

.fs13 {
font-size: 13px
}

.fs14 {
font-size: px
}

.fs15 {
font-size: 15px
}

.fs16 {
font-size: 16
}

.fs30 {
font-size: 30

}



/*****************FILE IMPORTS********************/






/*****************FILE IMPORTS*******************/